<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
	    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<title>Avalon: {{room_name}} Game</title>
		
		<script>
			$(document).ready(function() {
				var room_name = '{{room_name}}';
		    	var token = '{{ token }}';
		    	var status = $('#status_message');
		    	var create_team_proposal = $('#create_team_proposal');
		    	var vote_on_team_proposal = $('#vote_on_team_proposal');
		    	var vote_on_mission_success = $('#vote_on_mission_success');
		    	var team_vote_results = $('#team_vote_results');
		    	var mission_vote_results = $('#mission_vote_results');
		    	var assassin_form = $('#assassin_form');
		    
		    	function connectToChannel() {
				    var channel = new goog.appengine.Channel(token);
				    var socket = channel.open();
				    
				    socket.onopen = onOpened;
				    socket.onmessage = onMessage;
				    socket.onerror = onError;
				    socket.onclose = onClose;    	
		    	}
		    	
		    	function onOpened() {
		    		// Do nothing.
		    	}
		    	
		    	function populateTeamProposal(team) {
		    		var team_proposal_list = $('#team_proposal_list');
		    		team_proposal_list.empty();
		    		$.each(team, function(index, value) {
		    			team_proposal_list.append($('<li>' + value + '</li>'));
		    		});
		    	}
		    	
		    	function populateTeamVoteResults(team_proposal_votes) {
		    		var team_vote_results_list = $('#team_vote_results_list');
		    		team_vote_results_list.empty();
		    		$.each(team_proposal_votes, function(index, value) {
		    			team_vote_results_list.append($('<li>' + value[0] + ": " + value[1] + '</li>'))
		    		});
		    	}
		    	
		    	function updateBasicInfo(info) {
		    		$('#round').text('Round: ' + (info.round_number + 1));
		    		$('#leader').text('Leader: ' + info.leader);
		    		$('#missions_failed').text('Number of Missions Failed: ' + info.failed_mission_count);
		    		$('#proposals_failed').text('Proposals Failed this Round: ' + info.failed_proposal_count);
		    	}
		    	
		    	function hideAllDivs() {
		    		create_team_proposal.hide();
    				vote_on_team_proposal.hide();
    				vote_on_mission_success.hide();
    				team_vote_results.hide();
    				mission_vote_results.hide();
    				assassin_form.hide();
		    	}
		    	
		    	function onMessage(message) {
		    		var info = $.parseJSON(message.data);
		    		
		    		updateBasicInfo(info);
		    		
		    		switch (info.round_state) {
		    		case 'WAITING_FOR_TEAM_PROPOSAL':
		    			hideAllDivs();
		    			if (info.you_are_the_leader) {
		    				status.text('You are the leader, please select a team of ' + info.team_size + ' players');
		    				create_team_proposal.show();
		    			} else {
		    				status.text('Waiting for ' + info.leader + ' to propose a team');
		    			}
		    			break;
		    		case 'VOTING_ON_TEAM':
		    			hideAllDivs();
		    			if (info.already_voted_on_team) {
		    				status.text('Waiting for others to vote on the team');
		    				vote_on_team_proposal.hide();
		    			} else {
		    				status.text('Please vote on the proposed team');
			    			populateTeamProposal(info.team);
		    				vote_on_team_proposal.show();
		    			}
		    			break;
		    		case 'TEAM_VOTE_RESULTS':
		    			hideAllDivs();
		    			if (info.already_acknowledged_team_vote) {
		    				status.text('Waiting for other users to acknowledge seeing results');
		    				team_vote_results.hide();
		    			} else {
		    				status.text('Please acknowledge that you have seen these results');
		    				populateTeamVoteResults(info.team_proposal_votes);
		    				team_vote_results.show();
		    			}
		    			break;
		    		case 'MISSION_IN_PROGRESS':
		    			hideAllDivs();
		    			if (info.you_are_on_the_team && !info.already_voted_on_mission) {
		    				status.text('Please vote on the success of the mission');
		    				vote_on_mission_success.show();
		    			} else {
		    				status.text('Waiting for team to finish mission');
		    				vote_on_mission_success.hide();
		    			}
		    			break;
		    		case 'MISSION_OVER':
		    			hideAllDivs();
		    			if (info.already_acknowledged_mission_vote) {
		    				status.text('Waiting for other users to acknowledge seeing results');
		    				mission_vote_results.hide();
		    			} else {
		    				status.text('Please acknowledge that you have seen these results');
		    				$('#mission_vote_results_list').empty();
		    				$('#mission_vote_results_list').append($('<li>' + info.round_description + '</li>'));
		    				$('#mission_vote_results_list').append($('<li>Number of votes for failure = ' + info.mission_fail_votes + '</li>'));
		    				mission_vote_results.show();
		    			}
		    			break;
		    		case 'CLEANUP':
		    			hideAllDivs();
		    			if (info.assassin_present && info.merlin_present) {
		    				if (info.assassin_done) {
		    					status.text('GAME OVER: assassin ' + (info.assassin_correct ? 'killed' : 'failed to kill') + ' merlin');
		    				} else {
		    					status.text('Waiting for assassin');
		    					if (info.you_are_the_assassin) {
		    						assassin_form.show();
		    					}
		    				}
		    			} else {
	    					status.text('GAME OVER')
		    			}
		    			break;
		    		default:
		    			hideAllDivs();
		    			status.text('Something bad has happened. Maybe try to re-enter the room.')
		    			break;
		    		}
		    		
		    		$('#create_team_proposal_form').submit(function() {
	 					var number_of_boxes_checked = $('#create_team_proposal_form').find(':checkbox:checked').length;
	 					if (number_of_boxes_checked != info.team_size) {
	 						alert('Team should consist of ' + info.team_size + ' members. You chose ' + number_of_boxes_checked);
	 						return false;
	 					}
	 					return true;
	 				});
		    	}
		    	
		    	function onError() {
		    		//alert("ERROR");
		    	}
		    	
		    	function onClose() {
		    		//alert("CLOSED");
		    	}

		    	connectToChannel();
		    	// Wait for the channel to be set up, then notify the server that I am ready for a message.
		    	setTimeout(function() {$.post('/' + room_name + '/game');}, 1000);
			});
		</script>
		<style>
			#vote_on_mission_success {
				display: none;
			}
			#create_team_proposal {
				display: none;
			}
			#vote_on_team_proposal {
				display: none;
			}
			#team_vote_results {
				display: none;
			}
			#vote_on_mission_success {
				display: none;
			}
			#mission_vote_results {
				display: none;
			}
			#assassin_form {
				display: none;
			}
		</style>
	</head>
	
	<body>
		<div data-role="page">
			<div data-role="header">
				<h1>Role: {{role}}</h1>
			</div>

			<div data-role="main" class="ui-content">
			
				<h2>Info</h2>
				<ul>
					<li id="round"></li>
					<li id="leader"></li>
					<li id="missions_failed"></li>
					<li id="proposals_failed"></li>
				</ul>
				
				<h2>All Roles in Play</h2>
				<ul>
					{% for role in all_roles %}
		  				<li>{{ role }}</li>
					{% endfor %}
				</ul>
				
				<h2>All Players in Game</h2>
				<table>
					<thead>
						<tr>
							<th>Player</th>
							<th>Role</th>
						</tr>
					</thead>
					<tbody>
						{% for identity in identities %}
		  					<tr>
		  						<td>{{ identity[0] }}</td>
		  						<td>{{ identity[1] }}</td>
		  					</tr>
						{% endfor %}
					</tbody>
				</table>
				
				<h2>Team Size by Round</h2>
				<table>
					<thead>
						<tr>
							<th>Round</th>
							<th>Team Size</th>
							<th>Number to Fail</th>
						</tr>
					</thead>
					<tbody>
						{% for info in round_counts %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{{ info[0] }}</td>
								<td>{{ info[1] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				
				<h2 id="status_message"></h2>
				
				<div id="create_team_proposal">
					<form method="post" action="/{{ room_name }}/submit_team_proposal"
						id="create_team_proposal_form" data-ajax="false">
						<div class="ui-field-contain">
						<fieldset data-role="controlgroup">
							<legend>Select team:</legend>
							{% for identity in identities %}
		  						<input type="checkbox" name="{{ identity[0] }}_name" id="{{ identity[0] }}_id">
		  						<label for="{{ identity[0] }}_id">{{ identity[0] }}</label>
							{% endfor %}
							<input type="submit" data-icon="check" data-inline="true" value="Submit Team Proposal">
						</fieldset>
						</div>
					</form>
				</div>
				
				<div id="vote_on_team_proposal">
					<ul id="team_proposal_list">
						<!-- JavaScript will put the proposed names here. -->
					</ul>
					<form method="post" action="/{{ room_name }}/vote_on_team_proposal" id="vote_on_team_proposal_form", data-ajax="false">
						<div class="ui-field-contain">
						<fieldset data-role="controlgroup">
							<input type="radio" name="team_proposal_vote" value="yes" id="team_proposal_vote_yes" checked>
							<label for="team_proposal_vote_yes">Yes</label>

							<input type="radio" name="team_proposal_vote" value="no" id="team_proposal_vote_no">
							<label for="team_proposal_vote_no">No</label>
						</fieldset>
						</div>
						<input type="submit" data-icon="check" data-inline="true" value="Submit Vote">
					</form>
				</div>
				
				<div id="team_vote_results">
					<ul id="team_vote_results_list">
						<!-- JavaScript will put the results here. -->
					</ul>
					<form method="post" action="/{{ room_name }}/acknowledge_team_vote_results" data-ajax="false">
						<input type="submit" data-icon="check" data-inline="true" value="Acknowledge">
					</form>
				</div>
				
				<div id="vote_on_mission_success">
					<form method="post" action="/{{ room_name }}/vote_on_mission_success" data-ajax="false">
						<div class="ui-field-contain">
						<fieldset data-role="controlgroup">
							<input type="radio" name="mission_success" id="mission_success_succeed" value="success" checked>
							<label for="mission_success_succeed">Succeed</label>

							<input type="radio" name="mission_success" id="mission_success_fail" value="failure">
							<label for="mission_success_fail">Fail</label>
						</fieldset>
						</div>
						<input type="submit" data-icon="check" data-inline="true" value="Submit">
					</form>
				</div>
				
				<div id="mission_vote_results">
					<ul id="mission_vote_results_list">
						<!-- JavaScript will put the results here. -->
					</ul>
					<form method="post" action="/{{ room_name }}/acknowledge_mission_vote_results" data-ajax="false">
						<input type="submit" data-icon="check" data-inline="true" value="Acknowledge">
					</form>
				</div>
				
				<div id="assassin_form">
					<h2>You are the assassin. Choose a target.</h2>
					<form method="post" action="/{{ room_name }}/assassin" data-ajax="false">
						<div class="ui-field-contain">
						<fieldset data-role="controlgroup">
						{% for identity in identities %}
	  						<input type="radio" name="assassin_target" value="{{ identity[0] }}" id="{{ identity[0] }}_id">
	  						<label for="{{ identity[0] }}_id">{{ identity[0] }}</label>
						{% endfor %}
						</fieldset>
						</div>
						<input type="submit" data-icon="check" data-inline="true" value="Attempt Assassination">
					</form>
				</div>
				
				<form method="post" action="/{{ room_name }}/destroy_game"
					onsubmit="return confirm('Are you sure you want to destroy the game?')"
					data-ajax="false">
					<input type="submit" data-icon="delete" data-inline="true" value="Destroy Game">
				</form>
			</div>
		</div>
	</body>
</html>