<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Avalon: {{room_name}} Game</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script>
			$(document).ready(function() {
				var room_name = '{{room_name}}';
		    	var token = '{{ token }}';
		    	var status = $('#status_message');
		    	var create_team_proposal = $('#create_team_proposal');
		    	var vote_on_team_proposal = $('#vote_on_team_proposal');
		    	var vote_on_mission_success = $('#vote_on_mission_success');
		    	var team_vote_results = $('#team_vote_results');
		    
		    	function connectToChannel() {
				    var channel = new goog.appengine.Channel(token);
				    var socket = channel.open();
				    
				    socket.onopen = onOpened;
				    socket.onmessage = onMessage;
				    socket.onerror = onError;
				    socket.onclose = onClose;    	
		    	}
		    	
		    	function onOpened() {
		    		// This will cause the server to notify all players of the current state.
					$.post('/' + room_name + '/game');
		    	}
		    	
		    	function populateTeamProposal(team) {
		    		var team_proposal_list = $('#team_proposal_list');
		    		team_proposal_list.empty();
		    		$.each(team, function(index, value) {
		    			team_proposal_list.append($('<li>' + value + '</li>'));
		    		});
		    	}
		    	
		    	function populateTeamVoteResults(team_proposal_votes) {
		    		var team_vote_results_list = $('#team_vote_results_list');
		    		team_vote_results_list.empty();
		    		$.each(team_proposal_votes, function(index, value) {
		    			team_vote_results_list.append($('<li>' + value[0] + ": " + value[1] + '</li>'))
		    		});
		    	}
		    	
		    	function updateBasicInfo(info) {
		    		$('#round').text('Round: ' + (info.round_number + 1));
		    		$('#leader').text('Leader: ' + info.leader);
		    		$('#missions_failed').text('Number of Missions Failed: ' + info.failed_mission_count);
		    		$('#proposals_failed').text('Proposals Failed this Round: ' + info.failed_proposal_count);
		    	}
		    	
		    	function onMessage(message) {
		    		var info = $.parseJSON(message.data);
		    		
		    		updateBasicInfo(info);
		    		
		    		switch (info.round_state) {
		    		case 'WAITING_FOR_TEAM_PROPOSAL':
		    			vote_on_team_proposal.hide();
		    			vote_on_mission_success.hide();
		    			team_vote_results.hide();
		    			if (info.you_are_the_leader) {
		    				status.text('You are the leader, please select a team of ' + info.team_size + ' players');
		    				create_team_proposal.show();
		    			} else {
		    				status.text('Waiting for ' + info.leader + ' to propose a team');
		    			}
		    			// TODO: Show the result of the last vote.
		    			break;
		    		case 'VOTING_ON_TEAM':
		    			create_team_proposal.hide();
		    			vote_on_mission_success.hide();
		    			team_vote_results.hide();
		    			if (info.already_voted_on_team) {
		    				status.text('Waiting for others to vote on the team');
		    				vote_on_team_proposal.hide();
		    			} else {
		    				status.text('Please vote on the proposed team');
			    			populateTeamProposal(info.team);
		    				vote_on_team_proposal.show();
		    			}
		    			break;
		    		case 'TEAM_VOTE_RESULTS':
		    			create_team_proposal.hide();
		    			vote_on_team_proposal.hide();
		    			vote_on_mission_success.hide();
		    			if (info.already_acknowledged_team_vote) {
		    				status.text('Waiting for other users to acknowledge seeing results');
		    				team_vote_results.hide();
		    			} else {
		    				status.text('Please acknowledge that you have seen these results');
		    				populateTeamVoteResults(info.team_proposal_votes);
		    				team_vote_results.show();
		    			}
		    			break;
		    		case 'MISSION_IN_PROGRESS':
		    			create_team_proposal.hide();
		    			vote_on_team_proposal.hide();
		    			team_vote_results.hide();
		    			if (info.you_are_on_the_team && !info.already_voted_on_mission) {
		    				status.text('Please vote on the success of the mission');
		    				vote_on_mission_success.show();
		    			} else {
		    				status.text('Waiting for team to finish mission');
		    				vote_on_mission_success.hide();
		    			}
		    			break;
		    		default:
		    			create_team_proposal.hide();
	    				vote_on_team_proposal.hide();
	    				vote_on_mission_success.hide();
	    				team_vote_results.hide();
		    			status.text('Something bad has happened. Maybe try to re-enter the room.')
		    			break;
		    		}
		    	}
		    	
		    	function onError() {
		    		alert("ERROR");
		    	}
		    	
		    	function onClose() {
		    		alert("CLOSED");
		    	}

		    	connectToChannel();
			});
		</script>
		<style>
			#vote_on_mission_success {
				display: none;
			}
			#create_team_proposal {
				display: none;
			}
			#team_vote_results {
				display: none;
			}
			#vote_on_mission_success {
				display: none;
			}
		</style>
	</head>
	
	<body>
		<h1>Your role is {{role}}</h1>
		
		<h2>Info</h2>
		<ul>
			<li id="round"></li>
			<li id="leader"></li>
			<li id="missions_failed"></li>
			<li id="proposals_failed"></li>
		</ul>
		
		<h2>All Roles in Play</h2>
		<ul>
			{% for role in all_roles %}
  				<li>{{ role }}</li>
			{% endfor %}
		</ul>
		
		<table>
			<thead>
				<tr>
					<th>Player</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				{% for identity in identities %}
  					<tr>
  						<td>{{ identity[0] }}</td>
  						<td>{{ identity[1] }}</td>
  					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<table>
			<thead>
				<tr>
					<th>Round</th>
					<th>Team Size</th>
					<th>Number to Fail</th>
				</tr>
			</thead>
			<tbody>
				{% for info in round_counts %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ info[0] }}</td>
						<td>{{ info[1] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<h2 id="status_message"></h2>
		
		<div id="create_team_proposal">
			<form method="post" action="/{{ room_name }}/submit_team_proposal" id="create_team_proposal_form">
				<ul id="create_team_proposal_buttons">
					{% for identity in identities %}
  						<li><input type="checkbox" name="{{ identity[0] }}_name" id="{{ identity[0] }}_id"> <label for="{{ identity[0] }}_id">{{ identity[0] }}</label></li>
					{% endfor %}
					<li><input type="submit" value="Submit Proposal"></li>
				</ul>
			</form>
		</div>
		
		<div id="vote_on_team_proposal">
			<form method="post" action="/{{ room_name }}/vote_on_team_proposal" id="vote_on_team_proposal_form">
				<ul id="team_proposal_list">
					<!-- JavaScript will put the proposed names here. -->
				</ul>
				<ul>
					<li>
						<input type="radio" name="team_proposal_vote" value="yes" id="team_proposal_vote_yes">
						<label for="team_proposal_vote_yes">Yes</label>
					</li>
					<li>
						<input type="radio" name="team_proposal_vote" value="no" id="team_proposal_vote_no">
						<label for="team_proposal_vote_no">No</label>
					</li>
					<li>
						<input type="submit" value="Submit Vote">
					</li>
				</ul>
			</form>
		</div>
		
		<div id="team_vote_results">
			<form method="post" action="/{{ room_name }}/acknowledge_team_vote_results">
				<ul id="team_vote_results_list">
					<!-- JavaScript will put the results here. -->
				</ul>
				<input type="submit" value="Acknowledge">
			</form>
		</div>
		
		<div id="vote_on_mission_success">
			<form method="post" action="/{{ room_name }}/vote_on_mission_success">
				<ul>
					<li><input type="radio" name="mission_success" id="mission_success_succeed" value="success"> <label for="mission_success_succeed">Succeed</label></li>
					<li><input type="radio" name="mission_success" id="mission_success_fail" value="failure"> <label for="mission_success_fail">Fail</label></li>
					<li><input type="submit" value="Submit">
				</ul>
			</form>
		</div>
		
		<form method="post" action="/{{ room_name }}/destroy_game" onsubmit="return confirm('Are you sure you want to destroy the game?')">
			<input type="submit" value="Destroy Game">
		</form>
	</body>
</html>